@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corben&family=Dosis:wght@600&family=Montserrat&family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap');
:root {
    --background: rgb(128,128,128);
    --btnBackground: rgb(64, 134, 91);
    --palette1: rgb(87, 129, 139);
    --palette2: #324B50;
    --palette3: #95B0B6;
    --palette4: #82768F;
    --palette5: #51455C;
    --palette6: #51455C;
    --palette7: #82768F;
    --palette8: #B1A8B9;
    --palette9: #dcd4e4;
    --palette10: #1f122e;
    --textDark: #11061b;
}
*,*::before,*::after {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
textarea {
    font: inherit;
    padding: 4px;
}
.identificationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.btn {
    background-color: var(--palette5);
    padding: 4px 12px;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.4rem;
    cursor: pointer;
    color: snow;
}

/* ---- Login ---- */
.modalWrapper {
    position: fixed;
    top: 32px;
    left:50%;
    transform: translateX(-50%);
}
.modalInner {
    background-color: var(--palette9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 32px 16px;
    position: relative;
    border-radius: 8px;
}
.backdrop {
    position: fixed;
    top:-50%;
    left: -50%;
    width: 200vw;
    height: 200vh;
    background-color: rgba(128,128,128,0.3);
    /* background-color: red; */
    z-index: -1;
}
.emailWrapper {
    position: absolute;
    top:64px;
    left:50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    border-radius: 8px;
}
.emailForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    padding: 16px 8px;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:8px;
}
.inputGroup label {
    font-size: 1.3rem;
}
.inputGroup input{
    font-size: 1.2rem;
    text-align: center;
}
.errorWrapper {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
    gap: 32px;
    font-size: 1.2rem;
    border-radius: 8px;
}
.closeBtn {
    position:absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}
.closeBtn:hover svg {
    fill:red;
}

/* ---- Signup form ---- */
.form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 64px 16px;
    gap: 16px;
    text-align: center;
}
.form * {
    text-align: center;
    font-size: 1.1rem;
}
.formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.formGroup input {
    font-size: 1.1rem;
    border:2px solid darkgray;
    border-radius: 6px;
    text-align: center;
}
.btnSubmit {
    margin-top: 32px;
}
/* ---- Blog---- */
.main {
    display: flex;
    /* justify-content: center; */
    /* align-items: stretch; */
    flex-direction: column;
    gap: 64px;
    padding-top: 24px;
    color: var(--textDark);
    background-color: var(--palette7);
    max-width: 500px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 8px;
}
.blogButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}
.blogWrapper {
    background-color: var(--palette9);
    border-radius: 8px;
    padding: 8px 8px 4px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap:8px;
    /* min-width: 200px; */
    /* max-width: 500px; */
}
.blogInfo {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: aliceblue;
    gap: 16px;
    padding: 4px 24px;
    border-radius: 8px;
}   
.blogTitle {
    font-size: 1.1rem;
    border-radius: 8px;
    align-self: center;
    padding: 2px 16px;
    background-color: var(--palette2);
    color: snow;
}
.btnPublish {
    font-size: 1rem;
    padding: 8px;
    border-radius: 8px;
    border:2px solid transparent;
    background-color: var(--palette5);
    color:aliceblue;
    font-weight: bold;
    cursor: pointer;
}
.btnDelete {
    font-size: 1rem;
    padding: 8px;
    border-radius: 8px;
    border:2px solid transparent;
    background-color: rgb(218, 72, 72);
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.btnDelete:hover {
    background-color: red;
}
.editItem {
    cursor: pointer;
}
.editItem:hover svg {
    fill: red;
}
.commentToggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.commentToggle:hover svg {
    fill: var(--palette2);
}
/* ---- Comments ---- */
.commentBody {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
    padding: 4px;
    
}
.acommentWrapper {
    background-color: var(--palette8);
    padding: 4px;
    border-radius: 8px;
}
.commentInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px
}
.commentHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--palette6);
    border-radius: 8px;
    color: snow;
}
.btnComment {
    padding: 6px;
    border-radius: 8px;
    border: 2px solid transparent;
    font-family: inherit;
}
.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* ---- Navbar ---- */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: var(--palette8);
    padding: 8px 0;
}
@media (max-width: 650px) {
    .navbar {
        flex-direction: column;
    }
}
.logoWrapper {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.logowrapper img {
    /* width: 100%; */
    height: 100%;
    width: auto;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--palette10);
    fill:var(--palette10);
}